html {
  width: 100%;
  height: 100%;
  position: relative;
}

*,
body {
  /*-webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Jost', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body,
h1,
h2,
h3,
html,
li,
ul {
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

li {
  list-style: none;
}

body,
html,
li,
p,
ul {
  margin: 0;
}

input,
select,
textarea {
  outline: none;
  border: none;
}

.flex,
.wrapper {
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141517;
  background-size: contain;
  background-repeat: repeat-x;
  height: 100vh;
  overflow: hidden;
}

.flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.body__lend {
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-image: url(../image/bg.webp);
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.fortune__container {
  position: absolute;
  width: 1220px;
  height: 1220px;
}

.big__fortune {
  z-index: 5;
  transition: 4s ease-out;
}

.big__fortune,
.big__fortune img {
  height: 100%;
}

.big__fortune.winPosition {
  transform: rotate(2024.9deg);
}

.big__fortune-2.winPosition {
  transform: rotate(-1024.9deg);
}

.big__fortune.winPosition .big__fortune img {
  transform: translateX(-50%) translateY(-50%) rotate(2190deg);
}

.big__fortune img,
.little__fortune,
.little__fortune img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(135deg);
}

.center__fortune {
  z-index: 15;
}

.center__fortune img {
  position: absolute;
  left: 21%;
  transform: translateY(-130%);
}

.button__fortune {
  padding: 4px 40px;
  font-weight: 900;
  font-size: 40px;
  line-height: 58px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #00FF94 5.36%, #008E86 100%);
  box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.25), inset 0px 7px 10px #A4FAFF;
  border-radius: 37px;
  position: absolute;
  z-index: 20;
  top: 47.5%;
  left: 43%;
  /* transform: translateX(-55%) translateY(-72%); */
}

.button__text,
.logo__container {
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
}

.sword {
  position: absolute;
  top: 275px;
  left: 20px;
  transform: scale(1.1);
}

.side__text-left {
  position: absolute;
  left: 3%;
  top: 22%;
  z-index: 25;
  font-size: 30px;
  line-height: 95%;
  font-weight: 800;
  color: #FFFFFF;
  text-align: left;
}

.side__text-right {
  position: absolute;
  right: 3%;
  top: 22%;
  z-index: 25;
  font-size: 30px;
  line-height: 95%;
  font-weight: 800;
  color: #FFFFFF;
  text-align: left;
}

.side__text-descr {
  font-size: 50px;
  line-height: 95%;
}

.footer {
  position: absolute;
  bottom: 2%;
  z-index: 25;
}

.logo__wrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateX(1vw);
  top: 2vw;
  z-index: 25;
}

.logo__descr-mob {
  font-weight: 800;
  font-size: 24px;
  line-height: 116.5%;
  color: #FFFFFF;
  text-align: center;
  display: none;
}

.logo__descr {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 102.5%;
}

.logo__descr-left {
  max-width: 133px;
  text-align: right;
  margin-right: 10px;
}

.logo__descr-right {
  max-width: 233px;
  text-align: left;
  margin-left: 10px;
}

.site_button .button__text {
  font-size: 1.4vw;
  left: 7.2vw;
  top: calc(50% - 4.1vw);
  width: unset;
  line-height: 1;
}

.button__text {
  color: #fff;
  width: 100%;
  text-align: center;
  left: -0.2vw;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  top: 0.43vw;
  z-index: 10;
  font-weight: 700;
  font-size: 2vw;
  line-height: 100%;
  transform: matrix(0.98, 0, -0.2, 1, 0, 0);
}

.logo__container {
  z-index: 25;
  top: 4.34vw;
  right: 35.29vw;
  width: 28vw;
  height: calc(93vh - 4.34vw);
  flex-direction: column;
  justify-content: space-between;
}

.logo__text {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 2.5vw;
  line-height: 1.25;
  margin-top: 2vw;
}

.site_button {
  position: relative;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

.site_button img {
  max-width: 100%;
}

.popup__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  z-index: 30;
  display: none;
}

.popup,
.popup__undarlay {
  position: absolute;
  background-color: #000;
}

.popup__undarlay {
  right: 0;
  bottom: 0;
  opacity: 0.7;
  left: 0;
  top: 0;
}

.popup {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-width: 2px;
  width: 48.6vw;
  height: 38.96vw;
  background-image: url(../image/bg03.png);
  border-radius: 51px;
  background-size: cover;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
}

.popup__btn {
  background: #1d47f0;
  border: 2px solid #ffffff;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.82vw;
  line-height: 100%;
  padding: 4px 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #ffffff;
}

.popup__form {
  display: flex;
  justify-content: space-between;
}

.popup__promocode,
.popup__currency {
  background: rgba(29, 71, 240, 0.4);
  border-radius: 15px;
  font-weight: 400;
  font-size: 1.12vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  width: 15.63vw;
  height: 3vw;
  color: #c4c4c4;
  margin-top: 50px;
  margin-bottom: 27px;
}

.popup__email,
.popup__password {
  width: 38.78vw;
  display: block;
  background: rgb(111 119 161 / 65%);
  border-radius: 15px;
  height: 3vw;
  color: #c4c4c4;
  font-weight: 400;
  font-size: 1.12vw;
  line-height: 100%;

  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 1.21vw;
}

.popup__text {
  margin-top: 2vw;
  line-height: 100%;
  font-size: 3.54vw;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.56vw;
  transform: matrix(0.98, 0, -0.2, 1, 0, 0);
}

.popup__win {
  margin-top: 10px;
  margin-bottom: 2.4vw;
  font-weight: 700;
  font-size: 84px;
  font-size: 3.54vw;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  transform: matrix(0.98, 0, -0.2, 1, 0, 0);
}

.popup__button {
  margin: 0 auto;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 1.58vw;
  font-size: 1.22vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background: #1d47f0;
  box-shadow: 0px 4px 31px rgba(29, 71, 240, 0.4);
  border-radius: 15px;
  color: #ffffff;
  width: 13.42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.18vw;
  animation: glowing 1500ms infinite;
}

.popup__subtext {
  font-weight: 300;
  font-size: 0.68vw;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #acacac;
}

.popup__subtext:last-child {
  margin-bottom: 15px;
}

.offers-3 {
  position: fixed;
  z-index: 30;
  display: inline-block;
  padding: 15px;
  bottom: 20%;
  right: 10%;
  width: 11.51vw;
  height: 8.8vw;
  font-weight: 500;
  font-size: 2.2vw;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(235.07deg,
      rgba(6, 1, 255, 0.2) 18.34%,
      rgba(6, 1, 255, 0) 61.89%),
    #010e35;
  box-shadow: inset 0px 3px 4px #1d47f0,
    inset -9px -14px 50px rgba(0, 10, 255, 0.25);
  border-radius: 51px;
  transform: matrix(0.98, 0, -0.2, 1, 0, 0);
}

.offers {
  position: absolute;
  top: 85%;
  right: 20%;
  width: 168px;
  height: 61px;
  color: #ffffff;
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  background-image: url(../image/attemps.webp);
  background-repeat: no-repeat;
  width: 194px;
  height: 63px;
  display: flex;
  align-items: center;
}

.offers__span {
  margin-right: 21px;
  margin-left: 17px;
  color: #4D3FF3;
  font-size: 36px;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(/image/tickets.webp);
  background-position: 150px -20%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in;
  z-index: 30;
}

.pop-up.open {
  opacity: 1;
  visibility: visible;
}

.pop-up__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.pop-up__content {
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .4s ease-in-out;
  width: 480px;
  height: 240px;
  background-image: url(../image/pop-up.webp);
  border-radius: 22px;
  letter-spacing: 0.05em;
}

.pop-up__content1 {
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .4s ease-in-out;
  width: 480px;
  height: 300px;
  background-image: url(../image/pop-up1.webp);
  border-radius: 22px;
  letter-spacing: 0.05em;
  padding-top: 35px;
}

.pop-up__header1 {
  font-weight: 900;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #4D3FF3;
  background: linear-gradient(180deg, #9BEDFF 5.36%, #50CAFF 100%);
  border: 2px solid #FFFFFF;
  border-radius: 59px;
  padding: 13px 18px;
  position: absolute;
  top: -50px;
}

.pop-up__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 58px;
  margin-top: 10px;
}

.pop-up__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 40px;
}

.pop-up__text-1 {
  font-weight: 900;
  font-size: 24px;
  line-height: 35px;
}

.pop-up__text-2 {
  font-weight: 900;
  font-size: 50px;
  line-height: 72px;
}

.pop-up__btn {
  padding: 5px 25px;
  font-weight: 900;
  font-size: 40px;
  line-height: 58px;
  background: linear-gradient(180deg, #00FF94 5.36%, #008E86 100%);
  box-shadow: inset 0px 7px 10px #A4FAFF;
  border-radius: 37px;
  color: #FFFFFF;
}

.btn1 {
  margin-top: 30px;
}

.close {
  position: absolute;
  z-index: 20;
  top: 2.71vw;
  right: 2.71vw;
}

.close img {
  width: 2.4vw;
}

.back__anim {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0%;
}

.back__anim img,
.boock img,
.light__bottom img,
.mob__anim_1 img,
.mob__anim_2 img,
.mob__anim_3 img,
.mob__anim_4 img,
.stend__anim img,
.top__anim img {
  width: 100%;
}

.men__anim img {
  width: 80%;
  height: 100%;
}

.top__anim {
  position: absolute;
  width: 59.88vw;
  left: 15.74vw;
}

.stend__anim {
  width: 100%;
  left: 0.73vw;
}

.boock,
.men__2,
.stend__anim {
  position: absolute;
}

.newH .fortune__container {
  transform: scale(0.8) translateY(0);
}

.men__2 {
  opacity: 0;
  right: 0;
  left: 0;
}

.animation1 {
  animation: animation1 6s linear forwards infinite;
}

@keyframes animation1 {
  0% {
    transform: rotate(0deg) translate(-0.7%) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(-0.7%) rotate(-360deg);
  }
}

.animation2 {
  animation: animation2 6s linear forwards infinite;
}

@keyframes animation2 {
  0% {
    transform: rotate(0deg) translate(0.7vw) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translate(0.7vw) rotate(-360deg);
  }
}

.animation3 {
  animation: animation3 6s ease-in-out forwards infinite;
}

@keyframes animation3 {

  0%,
  to {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(0%, 0.3vw);
  }
}

.animation4 {
  animation: animation4 4s ease-in-out forwards infinite;
}

@keyframes animation4 {

  0%,
  89%,
  to {
    opacity: 0;
  }

  90%,
  99% {
    opacity: 1;
  }
}

@keyframes animation5 {

  0%,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.animation6 {
  animation: animation6 2s ease-in-out forwards infinite;
}

@keyframes animation6 {

  0%,
  40%,
  to {
    opacity: 0;
  }

  10%,
  15% {
    opacity: 1;
  }
}

.animation7 {
  animation: animation7 2s ease-in-out forwards infinite;
}

@keyframes animation7 {

  0%,
  10%,
  50%,
  to {
    opacity: 0;
  }

  20%,
  25% {
    opacity: 1;
  }
}

@keyframes glowing {
  0% {
    background-color: #1d47f0;
    -webkit-box-shadow: 0 0 3px #1d47f0;
    box-shadow: 0 0 3px #1d47f0;
  }

  50% {
    background-color: #1d47f0;
    -webkit-box-shadow: 0 0 40px #1d47f0;
    box-shadow: 0 0 40px #1d47f0;
  }

  100% {
    background-color: #1d47f0;
    -webkit-box-shadow: 0 0 3px #1d47f0;
    box-shadow: 0 0 3px #1d47f0;
  }
}

.men__anim {
  position: absolute;
  bottom: 0;
}

.light__bottom {
  left: 0;
  right: 0;
}

.mob__anim {
  display: none;
}

.mob__anim_1 {
  position: absolute;
  width: 100%;
  top: 20.63vw;
  left: 0;
  height: 100vh;
  background-image: url(money.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.mob__anim_1 img {
  transform: rotateY(180deg);
}

.mob__anim_2 {
  position: absolute;
  width: 23.96vw;
  top: 23.96vw;
  right: -5vw;
}

.mob__anim_3,
.mob__anim_4 {
  position: absolute;
  width: 72.71vw;
  top: 142.92vw;
  left: 3.54vw;
}

.mob__anim_4 {
  width: 113.75vw;
  top: 62.92vw;
  left: -11.25vw;
}

.fortineAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#popup2 .popup__text {
  font-size: 1.82vw;
}

#popup2 .popup__win {
  font-size: 2.92vw;
}

#popup2 .popup__win span {
  font-size: 3.84vw;
}

#popup2 .button__text {
  font-size: 2.1vw;
  top: 3.3vw;
  height: auto;
  left: 0.9vw;
}

#popup1 .button__text {
  top: 3.9vw;
}